<section class="todoapp">
  <header class="header">
    <h1>{{titre}}</h1> <!--Affichage du titre de la liste -->
    <form (submit)="appendItem(newTodoInput.value) ; newTodoInput.value = ''"> <!-- Pour l'ajout d'une todoItem -->
      <input  #newTodoInput
              name        = "newTodoInput"
              class       = "new-todo"
              placeholder = "Que faire?"
              (blur)="appendItem(newTodoInput.value); newTodoInput.value=''"
              autofocus />
    </form>
  </header>
  <section class="main">
    <input  class="toggle-all"
            type="checkbox"
            name="toggleAll"
            [hidden] ="items.length===0" [checked]="!itemsRestantes" [ngModel]="isAllDone()" (ngModelChange)="toggleAllDone()"
    /> <!--Appel de la méthode toggleAllDone si le checkbox est cliqué, le checkbox est caché si pas de todoItem et checké automatiquement si pas de todoItem active-->
    <ul class="todo-list">
      <li *ngFor="let item of todosFiltered() " [class.completed]="item.isDone" [class.editing]="itemRef.editing==true"> <!--On applique la classe css completed si la todoItem est faite et editing si l'utilisateur souhaite éditer le label de la todoItem-->
        <app-todo-item [data]= "item" #itemRef></app-todo-item> <!--On passe chaque todoItem de la liste au composant fils-->
      </li>
    </ul>
  </section>
  <footer class="footer" *ngIf="items.length!==0">
    <span class="todo-count"><strong></strong>{{itemsRestantes}} restantes</span>  <!--Affichage du nbre de todoItems actives -->
    <ul class="filters">
      <li>
        <a [class.selected]="filter==='all'" (click)="filter='all'" class="filterAll">Tous</a> <!--Si filter est égale à 'all', toutes les todoItems sont affichées -->
      </li>
      <li>
        <a [class.selected]="filter==='active'" (click)="filter='active'" class="filterActives">Actifs</a> <!--Si filter est égale à 'active', seules les todoItems actives sont affichées -->
      </li>
      <li>
        <a [class.selected]="filter==='completed'" (click)="filter='completed'" class="filterCompleted">Complétés</a> <!--Si filter est égale à 'completed', seules les todoItems complétées sont affichées -->
      </li>
    </ul>
    <button *ngIf="setUpClearbutton()" (click)="clearCompleted()" class="clear-completed">Supprimer cochées</button>  <!--Le bouton n'est instauré que s'il existe au moins une todoItem complétée dans la liste -->
  </footer>
</section>
<table>
  <tr>
    <th><button [disabled]="todoService.undo.length==0" class="undo-redo" (click)="undo()">Undo</button></th>  <!--Bouton désactivé si pas de liste d'items dans undo, si le bouton est cliqué on appelle la methode undo() pour annuler l'action-->
    <th><button [disabled]="todoService.redo.length===0" class="undo-redo" (click)="redo()">Redo</button></th>  <!--Bouton désactivé si pas de liste d'items dans redo,  si le bouton est cliqué on appelle la methode redo() pour refaire l'action-->
    <th><button class="undo-redo" (click)="clearAll()">Clean All</button></th> <!--On fait appel à la méthode cleanAll() pour effacer toutes les listes d'items-->
  </tr>
</table>
<hr/>

<!--Version debug de la liste V1-->
<h2>Debug V1</h2>
<ul>
  <li *ngFor="let item of items">
    {{item | json}}
  </li>
</ul>

<!--Version debug de la liste V2, si on clique sur checkbox, le json n'est pas modifié-->
<h2>Debug V2</h2>
<ul>
  <li *ngFor="let item of items">
    <input type="checkbox" [ngModel]="item.isDone"/>
    <label>{{item.label}}</label>
    <pre>{{item | json}}</pre>
  </li>
</ul>

<!--Version debug de la liste V3-->
<h2>Debug V3</h2>
<ul>
  <li *ngFor="let item of items">
    <input type="checkbox" [ngModel]="item.isDone" (ngModelChange)="itemDone(item,$event)"/>
    <label>{{item.label}}</label>
    <pre>{{item | json}}</pre>
  </li>
</ul>

<!--Version debug de la liste V4-->
<h2>Debug V4</h2>
<ul>
  <li *ngFor="let item of items">
    <input type="checkbox" [ngModel]="item.isDone" (ngModelChange)="itemDone(item,$event)"/>
    <form (submit)="itemLabel(item, newLab.value)">
      <input type="text" name="label" [ngModel]="item.label" #newLab/>
    </form>
    <label>{{item.label}}</label>
    <pre>{{item | json}}</pre>
  </li>
</ul>

<!--Version debug de la liste V5-->
<h2>Debug V5</h2>
<ul>
  <li *ngFor="let item of items">
    <input type="checkbox" [ngModel]="item.isDone" (ngModelChange)="itemDone(item,$event)"/>
    <form (submit)="itemLabel(item, newLab.value)">
      <input type="text" name="label" [ngModel]="item.label" #newLab/>
    </form>
    <button (click)="removeItem(item)">DELETE</button>
    <label>{{item.label}}</label>
    <pre>{{item | json}}</pre>
  </li>
</ul>
