<div class="view" *ngIf="data">
  <input 	class			= "toggle"
          type			= "checkbox"
          name			= "fait"
          [ngModel]="isDone" (ngModelChange)="itemDone(data,$event)"
  /> <!--Appel de la méthode itemDone quand le checkbox est coché-->
  <label class="texte">{{label}}</label> <!--On affiche le label de la todoItem par interpolation-->
  <button class="destroy" (click)="removeItem(data)"></button> <!--Appel de la méthode removeItem quand le bouton est cliqué-->
</div>
<form (submit)="itemLabel(data,newTextInput.value)"> <!--Appel de la méthode itemLabel pour changer le label -->
  <input  #newTextInput
          [ngModel]="data.label"
          name = "newTextInput"
          (blur) = "itemLabel(data,newTextInput.value)"
          autofocus class = "edit"  /> <!--(blur) permet l'appel de la méthode itemLabel même si l'utilisateur clique ailleurs sur la page sans appuyer sur Entrée-->
</form>
